<div class="container">

  <div class="card-header">

    <h1>Custos</h1>

    <a
      routerLink="/cadastro-custo"
      class="btn-add"
    >
      + Novo Custo
    </a>

  </div>

  <table class="table">

    <thead>

      <tr>

        <th>Descrição</th>

        <th>Categoria</th>

        <th>Obra</th>

        <th>Valor</th>

        <th>Data</th>

        <th>Tipo</th>

        <th>Ações</th>

      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let custo of custos">

        <td>{{ custo.descricao }}</td>

        <td>{{ custo.categoria }}</td>

        <td>{{ custo.obra?.nome }}</td>

        <td>
          R$ {{ custo.valor }}
        </td>

        <td>{{ custo.data }}</td>

        <td>

          <span
            class="status"
            [class.entrada]="custo.tipo === 'Entrada'"
            [class.saida]="custo.tipo === 'Saida'"
          >

            {{ custo.tipo }}

          </span>

        </td>

        <td class="actions">

          <a
            [routerLink]="[
              '/editar-custo',
              custo.id
            ]"
            class="btn-editar"
          >
            Editar
          </a>

          <button
            class="btn-danger"
            (click)="excluir(custo.id)"
          >
            Excluir
          </button>

        </td>

      </tr>

    </tbody>

  </table>

</div>