.actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.status {
  &.normal {
    background-color: rgba(22, 163, 74, 0.1);
    color: #16a34a;
  }
  &.baixo {
    background-color: rgba(239, 68, 68, 0.1);
    color: #dc2626;
  }
}