<div class="container">

  <div class="card-header">


<h1>Equipamentos</h1>

<button
  class="btn-add"
  *ngIf="auth.podeEditar()"
  routerLink="/cadastro-equipamento"
>
  + Novo Equipamento
</button>


  </div>

  <table class="table">


<thead>

  <tr>
    <th>Nome</th>
    <th>Tipo</th>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Placa</th>
    <th>Status</th>
    <th>Valor/Hora</th>
    <th>Ações</th>
  </tr>

</thead>

<tbody>

  <tr
    *ngFor="let equipamento of equipamentos"
  >

    <td>{{ equipamento.nome }}</td>

    <td>{{ equipamento.tipo }}</td>

    <td>{{ equipamento.marca }}</td>

    <td>{{ equipamento.modelo }}</td>

    <td>{{ equipamento.placa }}</td>

    <td>

      <span
        class="status"
      >
        {{ equipamento.status }}
      </span>

    </td>

    <td>

      {{
        equipamento.valorHora
        | currency:'BRL'
      }}

    </td>

    <td>
      <div class="actions-cell">
        <button
          *ngIf="auth.podeEditar()"
          class="btn-action btn-action--edit"
          title="Editar Equipamento"
          [routerLink]="['/editar-equipamento', equipamento.id]">
          <i class="bi bi-pencil"></i>
        </button>
        <button
          *ngIf="auth.podeEditar()"
          class="btn-action btn-action--delete"
          title="Excluir Equipamento"
          (click)="excluir(equipamento.id)">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </td>

  </tr>

</tbody>


  </table>

</div>
